body{
  background-color: black;
}

.logoImage{
  position: absolute;
  top: 0%;
  left: 20%;
  width:60%;
  height:70%
}

.logo{
  height:100%;
  width:100%;
}

.horizontalLine{
  position: absolute;
  background-color:white;
  top: calc(80% - 1px);
  left: 0%;
  width:100%;
  height:2px;
}

.selectionRow{
  position: absolute;
  top: 70%;
  left: 0%;
  width:100%;
  height:20%;
}
.selectionRowButton{
  position: absolute;
  width:10%;
  height:80%;
  top: 10%;
}

.one{
  left:30%
}
.two{
  left: 45%;
}
.three{
  left:60%;
}
