body{
  background-color: #2c3e50;
  text-align: center;
  color:white;
  font-size: 2.5vw;

}

.header{
  position: absolute;
  top:0%;
  left:0%;
  height:10%;
  width: 100%;
  background-color: black;
}
.createGroupButton{
  position: absolute;
  top:1.5%;
  left:10%;
  height:7%;
  width: 10%;
}
.createEventButton{
  position: absolute;
  top:1.5%;
  left:25%;
  height:7%;
  width: 10%;
}
.homeImage{
  position: absolute;
  top:1.5%;
  left:45%;
  height:7%;
  width: 10%;
}
.manageCalendarButton{
  position: absolute;
  top:1.5%;
  left:65%;
  height:7%;
  width: 25%;
}
.groups{
  position: absolute;
  top:15%;
  left:5%;
  height:80%;
  width: 25%;
  background-color: #3498db;
    border:2px solid white;
      font-family: 'Lato';
}
.upcomingEvents{
  position: absolute;
  top:15%;
  left:35%;
  height:80%;
  width: 30%;
  background-color: #2ecc71;
    border:2px solid white;
      font-family: 'Lato';
}
.synkeioEvents{
  position: absolute;
  top:15%;
  left:70%;
  height:80%;
  width: 25%;
  background-color: #3498db;
    border:2px solid white;
      font-family: 'Lato';
}
.verticalLine1{
  position: absolute;
  top:10%;
  left:calc(30% - 1px);
  height:90%;
  width: 2px;
  background-color: white;
}
.verticalLine2{
  position: absolute;
  top:10%;
  left:calc(70% - 1px);
  height:90%;
  width: 2px;
  background-color: white;
}
